<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Mollusk Classifier</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>Oysters, mussels or scallops?</h1>
        </div>
        <div class="row">
            <p>It is a simple mollusk classifer </p>
        </div>
        <div class="row">
            <p>The application is based on PyTorch/FastAI. Upload an image that contains any aforementioned mollusks in order to classify its type.
            </p>

        </div>
        <div class="row">
            <h2>Uploader</h2>
        </div>
        <div class="row">
            <img id="uploadedImg">
        </div>

        <div class="row">
            <form enctype="multipart/form-data" method="POST" name="fileinfo">
                <label>Upload your image:</label>
                <input type="file" name="file" required />
                <input type="submit" value="Launch Classifier" />
            </form>
    
        </div>
        <div class="row">
   
            <h2>Results</h2>
            <div id="loader" class="lds-dual-ring"></div>
        </div>
        <div id="results" class="grid-container">
        </div>
        <div class="row">
            <img class="image"src="../static/mussels.jpg">
            <img class="image"  src="../static/oysters.jpg">
            <img class="image"  src="../static/scallops.jpg">
        </div>
    </div>





    <footer>
        <p>
            <a class="github-button" href="https://github.com/AlienLaboratory">
                Check my github account</a>
        </p>

    </footer>

    <script src="../static/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>